	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../#page-top">Shaun L Fuller</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../#contact">Contact</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/resume">Resume</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Resume</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/slfresume.pdf" target="_blank">Download</a>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#resume">View</a>
          </div>
        </div>
      </div>
    </header>

<section id="resume" class="">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<div class="col-lg-8">
					<h2 class="section-heading text-primary">About Me</h2>
					<p>I am a person seeking gainful employment with the opportunity to increase my knowledge of Web Design /Development or Full-stack Web Developer. My long-term goal is to retire with a company in the field of Web Design/Development.</p>
				</div>
				<div class="col-lg-8">
					<h2 class="section-heading text-primary">Skills</h2>
					<ul>
						<li>WordPress, Oracle UCM, MS SharePoint</li>
						<li>HTML, CSS, Bootstrap</li>
						<li>PHP, JavaScript, JQuery, XML, Ajax</li>
						<li>Node.js, NPM, Express, Express- Handlebars, React.js</li>
						<li>MySQL, Sequelize, MongoDB, Mongoose</li>
						<li>GitHub, OpenShift, Heroku</li>
						<li>Adobe Creative Cloud Suite, Office 365, SharePoint Admin, PowerShell</li>
					</ul>
				</div>
				<div class="col-lg-8">
					<h2 class="section-heading text-primary">Contact</h2>
					<i class="fa fa-mobile fa-5x mb-3 sr-contact"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:9195938511">919-593-8511</a><br>
					<i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:shaun.l.fuller@gmail.com">shaun.l.fuller@gmail.com</a><br>
					<i class="fa fa-desktop fa-3x mb-3 sr-contact"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://shaunlfuller.com">http://shaunlfuller.com</a>
				</div>
				<div class="col-lg-8">
					<h2 class="section-heading text-primary">Education</h2>
					<p><strong>Certification | Studying | ServiceNow Fundamentals</strong> - Offered through UNC Pipeline Developer Program.</p>
				    <p><strong>Certification | 07/2016 | ITIL v3</strong> - Offered through UNC</p>
					<p><strong>Certification | 07/12/2016 – 01/21/2017 | Full stack web Developer</strong> - UNC Coding Bootcamp offered through UNC Friday Center.</p>
					<p><strong>Associate in Arts | 5/2002 | Durham Tech Community College</strong></p>
				</div>
			</div>
			<div class="col-lg-6 mx-auto">
				<div class="col-lg-8">
					<h2 class="section-heading text-primary">Experience</h2>
					<p><strong>UNC-CH Coding Bootcamp</strong> <em>July 2016 – Jan 2017</em></p>
					<p>This was a 6-month course where I learned how to be a Full-Stack Web Developer. We had several homework assignments and Projects listed below.</p>
					<p><strong>Movie Picker</strong> – This an application that allows a user to choose two movies then helps rate the movies. We used the following:
						<ul>
							<li>HTM, CSS, Skeleton</li>
							<li>JavaScript, JQuery</li>
							<li>OMDB and IMDB APIs</li>
						</ul>
					</p>
					<p><strong>Digital Yard Sale</strong> – This is a full stack application that allows users to upload used items and purchase items. This application is similar to an ecommerce site. We used the following:
						<ul>
							<li>HTML, CSS, Bootstrap</li>
							<li>JavaScript, JQuery</li>
							<li>Node.js, Express, Express-handlebars, SQL, storm-path</li>
						</ul>
					</p>
					<p><strong>Glucose Tracker</strong> – This is a full-stack application that allows a user to track their diabetic glucose levels. This app will display a data grid for the user and physician to see. I used the following:
						<ul>
							<li>Node.js, Express, React.js, MongoDB</li>
						</ul>
					</p>
					<p><strong>UNC-CH TechSupport / Web Developer</strong><em> Oct 2005 – Present</em></p>
					<p>I primarily work at the ITS Service Desk Tier 2. I have had a few side web application projects where I learned PHP, JavaScript, Oracle UCM, and WordPress. Primary support person for WordPress, SharePoint Admin, and Knowledge Management. I was also part of a developer group called Infrastructure Services which developed internal Applications. I have been part of several projects for UNC.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
	<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
	<script src="/assets/js/creative.min.js"></script> 